#bloods
  - for blood in @bloods
    %span= blood.name

#distances
  - for distance in distances
    %span= distance

%input{ type: 'button', id: 'buttonFilter', value: 'Buscar' }

#result

- content_for :javascript do
  :javascript
    new Notification()