%dl.form
  %dt= f.label :name, t('label.name')
  %dd= f.text_field :name

.actions
  = f.button :submit, t('buttons.save'), class: 'button save'

  - unless @blood.new_record?
    = link_to t('buttons.delete'), [:admin, @blood], method: :delete, confirm: t('flash.advertise'), class: 'button delete'