#alert_show
  margin: 0 auto
  width: 426px
  #email
    background: url('email-icon.jpg')
  #email, #sms
    border: 1px solid
    float: left
    width: 200px
    margin-right: 10px
    margin-top: 10px

    .counter
      border: 1px solid
      font-size: 18pt
      background: #CCC
      margin: 8px
      padding: 3px

    .list
      margin: 7px

    .title
      font-weight: bold
      height: 200px
      cursor: pointer
      line-height: 28px
      margin: 8px

      &:hover
        background: #E9E9E9

      &.disabled
        background: #ddd
        cursor: auto