#result
  table.result
    color: #FF0000

    thead
      tr
        th
          &.distance
            width: 120px
          &.name
            width: 100px
          &.address
            width: 300px