#counter
  .blood_type
    border: 1px solid
    width: 42px
    float: left

    .title
      background: #ccc

#result
  margin-top: 20px
  table.result
    thead
      tr
        th
          &.distance
            width: 120px
          &.name
            width: 100px
          &.address
            width: 300px