#partners
  %h1 Company
  .actions
    = link_to 'Novo company', new_admin_company_path

  - unless @companies.blank?
    %table.list
      %thead
        %tr
          %th Nome
          %th Logo
          %th.actions

      %tbody
        - @companies.each do |company|
          %tr
            %td= company.name
            %td
              = link_to 'Detalhes', [:admin, company], :class => "show"
              = link_to 'Editar', edit_admin_company_path(company), :class => "edit"