%h2= t('mailer.salute')
%p= t('mailer.confirmation_participation_title') #{@campaign.title}

.counter
  %b.count
    = @campaign.person_campaigns.non_canceleds.count
    ja estao com a presenca confirmada !