#notification_show
  #gmap
  = render partial: '/shared/button_direction'
  #routePanel

- content_for :javascript do
  :javascript
    Notification.show({ painel: 'routePanel' ,
                                  destination: [#{@notification.company.address.loc[0]}, #{@notification.company.address.loc[1]}]})