#show_notification
  .group
    %p 
      %b Situacao
      @notification.situation
    %p
      %b Quantidade
      @notification.quantity
    %p
      %b
      @notification.alerted_at

  .action
    = link_to 'Voltar', notifications_path, :class => 'button back'
