aaaaa

#gmap

- content_for :javascript do
  :javascript
    new Direction({ map: 'gmap',
                    showPosition: {lat: -21.2825835 , lng: -50.33602689999998},
                    type: 'company',
                    from: {lat: -21.2764105, lng: -50.342231800000036},
                    to: {lat: -21.2825835 , lng: -50.33602689999998}
                  })