#gmap

- content_for :javascript do
  :javascript
    new Notification({  map: 'gmap',
                        from: {lat: -21.2764105, lng: -50.342231800000036},
                        to: [-21.2825835, -50.33602689999998],
                        manualPosition: true
                  })