#directionPanelControl
  %a{ 'data-travelmode' => 'WALKING' }
    %span= t('label.walking')

  %a{ 'data-travelmode' => 'DRIVING' }
    %span= t('label.driving')

  %a{ 'data-travelmode' => 'BICYCLING' }
    %span= t('label.bicycling')

  %a{ 'data-travelmode' => 'TRANSIT' }
    %span= t('label.transit')