#circle_one
  #body
    %h2= t('footer.circle.title.about_us')
    %p
      É um fato conhecido de todos que um leitor
      se distrairá com o conteúdo de texto legível
      de uma página quando estiver examinando sua diagramação.
      A vantagem de usar Lorem Ipsum é que ele tem uma distribuição
      normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui".
    %h4= t('footer.circle.more')

#circle_two
  #body
    %h2= t('footer.circle.title.testimony')
    .quotes_rigth
    .quotes_left
    %p
      É um fato conhecido de todos que um leitor
      se distrairá com o conteúdo de texto legível
      de uma página quando...
    %h4= t('footer.circle.more')

#circle_three
  #body
    %h2 Contatos
    .form
      %input.name
      %input.email
      %input.subject
      %input.message
      %button.submit enviar

- content_for :javascript do
  :javascript
    new Contact()
