#circle_one
  #body
    %h2= t('footer.circle.title.about_us')
    %p= t('footer.circle.title.about_us_description')
    %h4.about_us= t('footer.circle.more')

#circle_two
  #body
    %h2
      " As tragédias quando distantes de nós deveria nos provocar a ser solidários e não apenas piedosos. "
    %h4 Murillo Leal

#circle_three
  %h2 Contatos
  .form
    %input{ class: 'name', placeholder: t('label.name'), type: 'text' }
    %input{ class: 'email', placeholder: t('label.email'), type: 'text' }
    %input{ class: 'subject', placeholder: t('label.subject'), type: 'text' }
    %textarea{ class: 'message', placeholder: t('label.message') }

    %input{ type: 'submit', class: 'submit button red', value: t('label.send') }

- content_for :javascript do
  :javascript
    new Contact()
    new Site()
