#filter
  #filter_content
    %span.title= t('views.filter.title')

    %input{ id: 'searchBox' }

    #type
      %span A+
      %span A-
      %span B+
      %span B-
      %span AB+
      %span AB-
      %span O+
      %span O-

    #distance
      %span.selected 5
      %span 10
      %span 20
      %span 30
      %span 40
      %span 50
      %span 70
      %span 100