#filter
  #filter_content
    %span.title= t('views.filter.title')

    %input{ id: 'searchBox' }

    #type
      %span A+
      %span A-
      %span B+
      %span B-
      %span AB+
      %span AB-
      %span O+
      %span O-