%script{ src: 'http://maps.googleapis.com/maps/api/js?key=AIzaSyAE08dkexIDR_HfbiFlSZEXfBibz6Z0_TY&sensor=true', type: 'text/javascript' }

%script{ src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markermanager/src/markermanager.js', type: 'text/javascript' }