#social
  %span.shared= t('label.shared_ideia')

  #facebook
    - facebook_like Settings.domain, { :width => 100, :send => true, no_override: true }

  #twitter
    - twitter_like Settings.domain, "Ajude uma vida doando.se !", :hash_tags => ['doarsangue']
