%ul.social_links
  %li= link_to image_tag('twitter.png'), '/auth/twitter', :title => 'Twitter', :class => 'twitter'
  %li= link_to image_tag('facebook.png'), '/auth/facebook', :title => 'Facebook', :class => 'facebook'
  %li= link_to image_tag('google.png'), '/auth/google_oauth2', :title => 'Conta Google', :class => 'google'
  %li= link_to image_tag('google.png'), '/auth/google_oauth2', :title => 'Conta Linked In', :class => 'linkedin'

- content_for :javascript do
  :javascript
    //window.user = new SocialButtons()