#social
  %span.shared= t('label.shared_ideia')

  #twitter
    - twitter_like 'http://staging.doando.se', "Ajude uma vida doando.se !", :hash_tags => ['doarsangue']
  #facebook
    - facebook_like 'http://staging.doando.se', { :width => 100, :send => true }