#about_us
  %p
    Doando.se é uma ferramenta que conecta hemocentros e doadores para a
    manutenção e reposição de seus estoques de sangue, em situações de emergência
    ou para manter seu niveis atuais. Sendo assim o Doando.se vem preencher o vácuo
    que existe na internet com relação a divulgação e conscientização com a doação de
    sangue. Utilizando-se um sistema prático de localização por mapa semelhante ao
    ® Google Maps, permitindo aos hemocentros buscarem doadores em regiões
    específicas.

  %p
    O Doando.se atualmente se foca na região do noroeste paulista, mas o objetivo é
    expandir-se para todos os estados, levando em conta o alcance da internet com
    relação a população em geral automaticamente atraindo um grande número de
    doadores, mantendo o foco de projetar vários métodos para divulgação e recepção
    da população em geral.

  %p
    Doando.se trata de um problema existente nos dias atuais, pois cirurgias estão
    sendo adiadas, e vidas estão sendo perdidas pela falta de sangue em hospitais e
    hemocentros, dai surge a ideia de facilitar a comunicação entre o cidadão comum e
    as instituições que precisam que esse cidadão se torne um doador.

  %p
    Nosso objetivo é diminuir a procura por doadores por parte dos amigos e familiares
    da pessoa que se encontra em necessidade do material específico, assim, criando
    uma forma prática e ágil para hospitais e instituições de saúde buscarem o material
    necessário com apenas alguns cliques do mouse, ao mesmo tempo criando uma
    oportunidade para indivíduos se disponibilizar a doar sangue de forma cômoda,
    sendo necessário seu deslocamento somente quando a necessidade de tipo de
    sangue compatível com o seu surgir.