#index
  %h2= t('views.statics.title_index')

  #sessions
    .group
      %h3 Total de cadastro por tipo de sangue
      %div
        %p= render 'total_per_blood'

    .group
      %h3 Porcetagem de tipos sanguineos
      %div
        %p= render 'percentage_blood_of_type'

- content_for :javascript do
  :javascript
    new Menu("#sessions" )