@import compass/css3/box-shadow, compass/css3/appearance, compass/utilities, compass/css3/border-radius

.button
  +border-radius(5px)
  +box-shadow(#ccc 1px 1px 5px)
  font-family: 'DroidSansRegular'
  font-size: 12pt
  color: #fff
  text-decoration: none
  font-weight: bold
  background: #aa2d2d
  border: 1px solid rgba(0, 0, 0, 0.17)
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6)
  padding: 9px 22px
  cursor: pointer
  text-align: center
  clear: both
  &.back
    background: #9E9E9E
    &:hover
      background: #747474
      .show
        border: 1px solid
  &:hover
    text-decoration: none
    background-color: #721B1B

.link
  float: left
  padding: 7px
  color: #000
  text-decoration: none
  &.edit:hover
    color: #3A3A3A
    text-decoration: none
  &.edit:before
    content: '\270e'
    margin-right: 5px
    font-size: 20px

  &.show:hover
    color: #124912
    text-decoration: none
  &.show:before
    content: '\e011'
    margin-right: 5px
    font-size: 20px

  &.delete:hover
    color: #8F0C0C
    text-decoration: none
  &.delete:before
    content: '\2718'
    margin-right: 5px
    font-size: 20px

  &.back:hover
    color: #124912
    text-decoration: none
  &.back:before
    content: '\2190'
    margin-right: 5px
    font-size: 20px

.back_form
  float: right
  text-decoration: none
  color: #464545
  margin-top: 8px
  &:hover
    color: #797979
.back_form:before
  content: '\2190'
  font-family: 'IconicFill'
  padding-right: 4px