.form
  float: left
  clear: both
  width: 94%
  margin-bottom: 20px
  label
    clear: both
    float: left
    width: 150px
    text-align: right
    line-height: 38px
    margin-right: 10px
    margin-top: 8px
    color: #464545
  input[type="text"], input[type="password"], input[type="file"], select, .input_image, textarea
    border: 1px solid #464545
    float: left
    margin: 8px 0 0 0
    height: 26px
    width: 350px
    padding-left: 5px

  textarea
    height: 200px

  .input_image
    border: none
    padding: 0

  input[type="checkbox"]
    margin-top: 14px
  span.error
    display: none

  input:focus + span.error, select:focus + span.error, span.error:first-of-type, input
    background: #FFFFFF
    border: 1px solid #FF0000
    float: left
    margin: 10px 0 0 36px
    padding: 4px
    display: inline-block

  span.error:first-of-type
    display: block

.actions
  margin-top: 20px
  display: inline-block