.form
  float: left
  clear: both
  width: 94%
  label
    clear: both
    float: left
    width: 150px
    text-align: right
    line-height: 26px
    margin-right: 10px
    margin-top: 8px
    color: #464545
  input[type="text"], select
    border: 1px solid #464545
    float: left
    margin-top: 8px
    height: 26px
    width: 350px
  input[type="checkbox"]
    margin-top: 14px
.actions
  margin-top: 20px
  display: inline-block