@import compass, compass/utilities/general/reset

+global-reset

div:after, ol:after, form:after, ul:after, dl:after, a:after
  content: '.'
  display: block
  clear: both
  visibility: hidden
  height: 0
  overflow: hidden

body
  font-family: 'DroidSansRegular'
  font-size: 12pt
  margin: 0 auto
  width: 95%

b
  font-weight: bold
  content: ':'
  float: left

h1
  color: #5d5c5c
  font-family: 'SteelfishEbRegular'
  font-size: 23pt
  margin: 0 auto

h2
  color: #680909
  font-family: 'DroidSansRegular'
  font-size: 18px
  border-bottom: 1px solid #ddd
  padding-bottom: 9px
  font-weight: bold