@import compass/css3, compass/css3/appearance, compass/utilities

#menu
  margin: 20px 0
  background: #505050
  padding: 10px
  dl dd
    a.menu
      color: #ffffff
      font-family: 'SteelfishEbRegular'
      font-size: 18pt
      text-decoration: none
      padding: 4px 12px
      float: left
      border-left: 1px solid
      &:hover, &.selected
        background-color: #9a9a9a
        +box-shadow(#bcbcbc 0px 0px 1px)