Olá #{@user.authenticable.name}!<br /><br />

Você esqueceu sua senha? Não tem problema. É só clicar
no link e criar uma nova senha pra acessar sua conta.<br /><br />

%strong= link_to 'Quero trocar minha senha', @link
<br /><br />

Se você não pediu pra trocar a senha, não precisa ficar preocupado. Basta
ignorar essa mensagem.<br /><br />

Atenciosamente,<br />
Equipe Doando.se