@import compass/css3, compass/utilities

.button 
  width: 100px
  height: 40px
  +border-radius(8px)
  font-weight: bold
  cursor: pointer
  +box-shadow(#dcdcdc 2px 2px 10px)
  &.save
    background-color: #565455
    color: #fff
    border: 1px solid #414141
  &:hover
    background-color: #2c2c2c
    border: 1px solid #191919
