#filter
  width: 100%
  background: #dcdcdc

  #filter_content
    width: 960px
    margin: 0 auto

    span
      font-family: "NillandRegular"
      color: #313131
      font-weight: bold

    #combo
      width: 400px
      select
        width: 200px

      .state, .city
        float: left