@import compass/css3
@import mixings/input
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/transform

#filter
  width: 940px
  height: 180px
  position: relative
  clear: both

  h3
    +box-shadow(#EBEBEB 0px 8px 10px)
    margin-top: 13px
    padding-bottom: 9px
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    width: 981px
    right: 21px
    position: relative


  #filter_content
    width: 940px
    margin: 8px auto
    position: relative

  h4
    float: left
    width: 270px
    margin: 10px 0 10px 34px
    text-align: left
    text-decoration: none

  input#searchBox
    +input
    float: left
    width: 270px
    clear: both
    margin-left: 30px

  span.donor
    position: relative
    font-weight: bold
    display: block
    line-height: 44px
    cursor: pointer
    color: #630000
  span.institutional
    position: absolute
    +rotate(-90deg)
    left: 875px
    top: 58px
    cursor: pointer
    color: #630000
    font-weight: bold
    width: 140px
  #bloods
    position: absolute
    left: 324px
    top: 36px
    background: #fff

  #bloods, #distances, span.donor
    float: left
    width: 270px
    margin-left: 30px
    span
      width: 58px
      height: 30px
      border: 1px solid #bbb
      float: left
      margin: 3px
      text-align: center
      line-height: 29px
      cursor: pointer
      background: #ccc
      color: #5F4F4F
      +border-radius(5px)
      +background-image(linear-gradient(top bottom, #fff, #ddd))
      &:hover
        +background-image(linear-gradient(top bottom, #ddd, #fff))
      &:active, &.selected
        border: 1px solid #590101
        opacity: 0.5
        color: #5F0A0A