.logo
  width: 200px
  margin-left: auto
  margin-right: auto
  margin-bottom: 24px

#content
  display: block
  font-family: 'Rambla', sans-serif
  margin-left: auto
  margin-right: auto
  width: 650px
  .description
    background: #dbdbdb
    color: #4d4d4d
    float: left
    height: 261px
    text-align: center
    width: 390px
    height: 277px

    h1
      color: #4d4d4d

    .body
      line-height: 40px
      text-align: left
      margin-left: 73px
      a
        color: #4d4d4d

  .painel
    background: #600606
    float: left
    text-align: center
    width: 206px

    .counter
      width: 156px
    .blood, .counter, .social
      border-bottom: 1px solid #707070
      color: #946867
      display: inline-block
      padding: 10px 0
      text-align: center
      span
        font-weight: bold
      .quantity
        color: #afb0b2
        font-size: 34px
        float: left
        margin: 18px 22px 10px 0
      .blood_type
        font-size: 42px
        color: #fff
        padding: 10px 0
      .count
        color: #946867
        font-size: 71px
        a
          color: #946867
          font-size: 71px
          text-decoration: none

#footer
  clear: both
  a
    color: #5C5C5C
    font-size: 9px