.saludation
  position: relative
  top: 14px
  right: 10px
  float: righ

#menu
  height: 64px
  background: url('background_menu.jpg') repeat
  border-bottom: 3px solid #ccc

  .logo
    background: url('background.jpg')
    float: left
    margin-left: 20px
    padding: 15px

  dl
    dd
      float: left
      margin-left: 12px