@import mixings/content

.content_notifications
  width: 742px

#notification_confirm, .content_notifications, #notification_show, #list_user
  +container
  .title
    +title
    .counter
      margin-top: 10px
      b
        font-weight: boldS
        &.count, a
          color: #5A0505

  .mini_map
    +mini_map

  .social
    +social

  .action
    float: left
    width: 138px
    margin-left: 24px
    a
      margin-top: 10px

#notification_confirm
  display: inline-block
  #gmap
    float: left
    margin-left: 40px
    width: 400px
  form
    bottom: 105px
    left: 40px
    position: relative
    width: 121px
    input[type='submit']
      line-height: 0px

  .show_instruction
    width: 122px
    position: relative
    bottom: 22px
    left: 632px

#notification_show
  #gmap
    width: 580px
  #directionPanelControl
    margin-left: 576px
    clear: both
    text-align: right
    span
      font-weight: bold
      cursor: pointer
  #routePanel
    width: 910px

  a
    float: left
    margin-left: 10px

#list_user
  width: 420px
  margin: 0 auto
  span.top
    width: 100%
    background: #ccc
    display: inline-block
    .line
      float: left
      padding: 5px
      font-weight: bold
      width: 128px
      border: 1px solid #9B9B9B
  span.title
    font-weight: bold
    font-size: 15px
    margin: 10px auto
    width: 100%
  span.body
    clear: both
    display: inline-block
    text-align: left
    width: 421px
    .line
      float: left
      width: 132px
      border: 1px solid #9B9B9B
      padding: 3px

#complete
  +container
  .thank
    text-align: justify
    margin: 30px 0
    display: block
  .qrcode
    float: right
    b
      font-weight: bold
      margin: 10px
      display: block
    .action
      margin-top: 20px
      clear: both
      float: right
      span
        display: block
        width: 350px
        text-align: justify
      a
        clear: both
        margin: 10px 0 0 218px

#information_notification
  +information
  span
    +span_position
  span.label
    +span_label
  span.text
    +span_text
  .location
    display: inline-block
    clear: both
    margin-top: 20px
    h3
      width: 380px
      font-size: 24px