#notification_confirm
  width: 710px
  .show_instruction
    width: 122px
    position: relative
    bottom: 14px
    left: 568px

  span
    margin-top: 24px
  span.label
    clear: both
    display: block
    float: left
    font-weight: bold
    margin-right: 16px
    width: 133px
    text-align: right

  span.text
    float: left

  input[type='submit']
    position: relative
    bottom: 70px
    left: 46px
    line-height: 0px

  #gmap
    clear: both
    margin: 27px 0 0 35px