@import compass/css3, compass/utilities/general/clearfix

.title
  background: url('line.png') repeat-x
  background-position: 0px 24px
  text-align: center
  margin: 30px
  h1
    display: inline
    background: url('background.jpg')
    padding: 8px

#map
  width: 574px 
  height: 430px 
  padding: 0px
  border: 10px solid #a9a9a9
  +box-shadow(#c9c9c9 0px 0px 20px)

#people.new 
  form
    #steps
      float: left
      div.step
        width: 324px
        float: left
      #user
        border: 1px solid
      #personal
        border: 1px solid
        display: none
      #address
        border: 1px solid
        display: none
      #confirmation
        border: 1px solid
        display: none