@import compass/utilities/general/clearfix

#people
  .new
    width: 350px
    float: left
    +clearfix
    ul
      li
        width: 64px  
        height: 64px
        float: left
        margin: 10px
  #map
    width: 628px 
    height: 430px 
    padding: 0px
