@import "compass"

form.simple_form
  font-size: 12px
  
  .inputs
    .input
      padding: 5px
      label
        width: 100%
      input
        font-size: 13px
        padding: 3px
        width: 96%
        @include border-radius(5px)