#root
  height: 100%
  #container
    width: 1000px
    margin: 0 auto
    background: #f2f2f2
    
    #top
      width: 99%
    
    #center
      width: 99%
      
      #content
        width: 99%
    
    #bottom
      width: 99%
      background: #fff
