#root
  height: 100%
  #container
    width: 1000px
    margin: 0 auto
    
    
    #top
      width: 99%
    
    #center
      width: 99%
      
      #content
        width: 99%
    
    #bottom
      width: 99%
      background: #fff

#footer
  background: url('background-footer.jpg')
  height: 510px
  
