#social
  width: 960px
  margin: 10px auto
  span
    float: left
    width: 728px
    text-align: right
    font-size: 14px
    font-family: "NillandRegular"
    color: #7E1313
    font-weight: bold
  #facebook
    float: right
    margin-right: 20px
  #twitter
    float: right