#submenu
  width: 960px
  margin: 10px auto
  a.button
    float: left
    margin: 0 0 0 684px

  #saludation
    float: left
    margin: 7px 0 0 612px
    span
      float: left
    a.exit
      margin-left: 10px
      float: left

  #language
    display: inline-block
    margin-top: 5px
    span
      color: #7E1313
      float: left
      margin-left: 20px
      font-family: "NillandRegular"
      font-size: 14px
      font-weight: bold
      line-height: 24px
    a
      width: 32px
      height: 22px
      border: 1px solid
      display: block
      float: left
      margin-left: 5px
      &.english
        background: url('eua.jpg')
      &.portuguese
        background: url('brazil.jpg')
