#submenu
  width: 960px
  margin: 10px auto
  a.button
    float: left
    margin: 0 0 0 736px
  #language
    display: inline-block
    margin-top: 5px
    span
      color: #ff0000
      float: left
      margin-left: 20px
    a
      width: 20px
      height: 20px
      border: 1px solid
      display: block
      float: left
      margin-left: 5px
      &.english
      &.portuguese
