#submenu
  width: 960px
  margin: 10px auto
  a.button
    float: left
    margin: 0 0 0 684px

  #saludation
    margin: 7px 0 0 775px
    width: 203px
    span
      float: left
    a.exit
      margin-left: 10px
      float: left
      color: #ff0000
      font-weight: bold
