@import mixings/content

#testimonials
  width: 960px
  margin: 0 auto
  .testimonial
    +container
    width: 250px
    float: left
    margin: 0 10px
    h2
      margin: 10px 0
    p.text
      margin: 10px 0
      clear: both
      display: block
      text-align: left