@font-face
  font-family: 'SteelfishEbRegular'
  src: url('steelfish/steelfish_eb-webfont.eot')
  src: url('steelfish/steelfish_eb-webfont.eot?#iefix') format('embedded-opentype'), url('steelfish/steelfish_eb-webfont.woff') format('woff'), url('steelfish/steelfish_eb-webfont.ttf') format('truetype'), url('steelfish/steelfish_eb-webfont.svg#SteelfishEbRegular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'geosanslight'
  src: url('geosans/geosanslight-webfont.eot')
  src: url('geosans/geosanslight-webfont.eot?#iefix') format('embedded-opentype'), url('geosans/geosanslight-webfont.woff') format('woff'), url('geosans/geosanslight-webfont.ttf') format('truetype'), url('geosans/geosanslight-webfont.svg#SteelfishEbRegular') format('svg')
  font-weight: normal
  font-style: normal

h1
  font-family: "SteelfishEbRegular"
  font-size: 34pt

dt
  font-family: "geosanslight"
  font-size: 14pt
