@font-face
  font-family: 'SteelfishEbRegular'
  src: url('steelfish/steelfish_eb-webfont.eot')
  src: url('steelfish/steelfish_eb-webfont.eot?#iefix') format('embedded-opentype'), url('steelfish/steelfish_eb-webfont.woff') format('woff'), url('steelfish/steelfish_eb-webfont.ttf') format('truetype'), url('steelfish/steelfish_eb-webfont.svg#SteelfishEbRegular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'geosanslight'
  src: url('geosans/geosanslight-webfont.eot')
  src: url('geosans/geosanslight-webfont.eot?#iefix') format('embedded-opentype'), url('geosans/geosanslight-webfont.woff') format('woff'), url('geosans/geosanslight-webfont.ttf') format('truetype'), url('geosans/geosanslight-webfont.svg#SteelfishEbRegular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DroidSansRegular'
  src: url('droidsans/droidsans-webfont.eot')
  src: url('droidsans/droidsans-webfont.eot?#iefix') format('embedded-opentype'), url('droidsans/droidsans-webfont.woff') format('woff'), url('droidsans/droidsans-webfont.ttf') format('truetype'), url('droidsans/droidsans-webfont.svg#DroidSansRegular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'NillandRegular'
  src: url('nilland/nilland-webfont.eot')
  src: url('nilland/nilland-webfont.eot?#iefix') format('embedded-opentype'), url('nilland/nilland-webfont.woff') format('woff'),url('nilland/nilland-webfont.ttf') format('truetype'), url('nilland/nilland-webfont.svg#NillandRegular') format('svg')
  font-weight: normal
  font-style: normal

body
  font-family: 'helvetica neue', helvetica, arial, sans-serif

p
  font-family: 'NillandRegular'
  letter-spacing: 3px
  word-spacing: 2px
h1, a
  font-family: 'SteelfishEbRegular'

h1
  font-size: 34pt
  
dt
  font-family: 'geosanslight'
  font-size: 14pt

.button 
  font-family: 'DroidSansRegular'
  font-weight: bold

.more
  font-weight: bold

input
  font-size: 16px
  color: #565455  
