@import compass/css3/box-shadow

h1
  width: 10%
  text-align: center
  margin: 20px auto
  left: -10px
  padding: 5px 0
  position: relative
h1:before
  border-color: #ccc transparent #ccc transparent
  border-style: solid
  border-width: 1px
  content: ""
  position: absolute
  left: 159px
  top: 25px
  width: 400px
  height: 5px
h1:after
  border-color: #ccc transparent #ccc transparent
  border-style: solid
  border-width: 1px
  content: ""
  position: absolute
  right: 130px
  top: 25px
  width: 384px
  height: 5px

.content_notifications
  width: 960px
  div
    float: left
    width: 314px
    display: inline-block
    .description
      margin-top: 16px
      height: 98px
      overflow: hidden
      text-align: justify
  .social
    width: 193px
    float: left
    margin-top: 12px
    .fb_share
      float: left
      width: 92px
      display: inline-block
    .twitter_share
      float: left
      width: 86px
      margin-left: 11px
  #mini_map
    width: 254px
    height: 140px
    border: 3px solid #ccc
    float: left
    margin: 0 26px

  .action
    float: left
    width: 138px
    top: 14%
    position: relative
    a
      margin-top: 10px