@import compass/css3/box-shadow

h1
  width: 10%
  text-align: center
  margin: 20px auto
  left: -10px
  padding: 5px 0
  position: relative
h1:before
  border-color: #ccc transparent #ccc transparent
  border-style: solid
  border-width: 1px
  content: ""
  position: absolute
  left: 159px
  top: 25px
  width: 400px
  height: 5px
h1:after
  border-color: #ccc transparent #ccc transparent
  border-style: solid
  border-width: 1px
  content: ""
  position: absolute
  right: 130px
  top: 25px
  width: 384px
  height: 5px

.content_notifications
  width: 742px
  margin: 40px auto
  .title
    float: left
    width: 314px
    display: inline-block
    .counter
      margin-top: 10px
      b
        font-weight: bold
        &.count, a
          color: #5A0505

  #information_notification
    clear: both
    width: 310px
    float: left
  .mini_map
    width: 254px
    height: 140px
    border: 3px solid #ccc
    float: left
    margin: 0 4px
  .social
    width: 193px
    float: left
    margin-top: 12px
    .fb_share
      float: left
      width: 92px
      display: inline-block
    .twitter_share
      float: left
      width: 86px
      margin-left: 11px

  .action
    float: left
    width: 138px
    margin-left: 24px
    a
      margin-top: 10px