= link_to 'Twitter', '/auth/twitter', :class => 'twitter', :title => 'Twitter'
= link_to 'Facebook', '/auth/facebook', :class => 'facebook', :title => 'Facebook'
= link_to 'Google', '/auth/google', :class => 'google', :title => 'Conta do Google, gmail, orkut, etc.'
