= link_to 'Twitter', '/users/auth/twitter', :class => 'twitter', :title => 'Twitter'
= link_to 'Facebook', '/auth/facebook', :class => 'facebook', :title => 'Facebook'
= link_to 'Google', '/users/auth/google', :class => 'google', :title => 'Conta do Google, gmail, orkut, etc.'
